#headerMain{
    display: flex;
    justify-content: center;
    background-color: aqua;
}

#headerMain > div{
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    line-height : 90px;
}

.mainch{
    font-size: 40px;
}

.loglogo{
    font-size: 30px;
}

.logo{
    display: flex;
    justify-content: left;
    width: 100px;
    height: 100px;
}

.logo > img { 
    width: 100%;
    margin: 0;
    padding: 0;
}
