.hometitle{
    font-size: 40px;
    background-color: blueviolet;
}

.homespan{
    cursor: pointer;
    border: 4px solid black;
    border-radius: 20px;
    background-color: rgb(211, 204, 208);
    font-size: 30px;
    line-height : 50px;
}